*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#fff;
    color:#000;

    font-family:
        Inter,
        Helvetica,
        Arial,
        sans-serif;

    font-size:20px;
    line-height:1.7;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;

    padding:40px;
}

main{

    max-width:700px;
}

h1{

    font-size:4rem;
    font-weight:900;

    margin-bottom:1rem;
}

p{

    margin-bottom:2rem;
}

nav{

    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

a{

    color:#000;

    text-decoration:none;

    font-weight:700;

    border-bottom:2px solid transparent;

    transition:.2s;
}

a:hover{

    border-color:#000;
}
